#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



.botones{
  background-color: #b22cff;
  height: 60px;
}


// .centrado{
//   margin-left: auto;
//   margin-right: auto;
//   display: block;
// }

.drop { filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); }


ion-button{
  height: 200%;
}

.botonera{
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // align-content: space-between;
  // flex-direction: row;
  
}




