<!-- 
<ion-content>

  <ion-fab vertical="center" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content> -->


<ion-content [fullscreen]="true">

  <div class="botones">

    <ion-fab vertical="start" horizontal="start" slot="fixed">
      <ion-fab-button>
        <ion-icon name="language-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button><img style="width: 28px" src="../../assets/espania.png"></ion-fab-button>
        <ion-fab-button><img style="width: 28px" src="../../assets/ingles.png"></ion-fab-button>
        <ion-fab-button><img style="width: 28px" src="../../assets/portugal.png"></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="start" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="newspaper-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button (click)="activar('numeros')"><img style="width: 28px" src="../../assets/numeros.png">
        </ion-fab-button>
        <ion-fab-button (click)="activar('colores')"><img style="width: 28px" src="../../assets/colores.png">
        </ion-fab-button>
        <ion-fab-button (click)="activar('animales')"><img style="width: 28px" src="../../assets/animales.png">
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </div>

  <div id="container">

    <div *ngIf="animales" class="botonera">


      <!-- <img width="40%" style="margin: 4%;" src="../../assets/animales/conejo.png" alt="conejo">
      <img width="40%" style="margin: 4%;" src="../../assets/animales/perro.png" alt="perro">
      <img width="40%" style="margin: 4%;" src="../../assets/animales/gato.png" alt="gato">
      <img width="40%" style="margin: 4%;" src="../../assets/animales/jirafa.png" alt="jirafa">
      <img width="40%" style="margin: 4%;" src="../../assets/animales/oso.png" alt="oso">
      <img width="40%" style="margin: 4%;" src="../../assets/animales/pajaro.png" alt="pajaro"> -->
      
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="70%" style="margin: 4%;"
              src="../../assets/animales/conejo.png" alt="conejo"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="70%" style="margin: 4%;"
              src="../../assets/animales/perro.png" alt="perro"></ion-button>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
            <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="70%" style="margin: 4%;"
              src="../../assets/animales/gato.png" alt="gato"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="70%" style="margin: 4%;"
              src="../../assets/animales/jirafa.png" alt="jirafa"></ion-button>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
            <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="70%" style="margin: 4%;"
              src="../../assets/animales/oso.png" alt="oso"></ion-button>
          </ion-col>
          <ion-col>
            <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="70%" style="margin: 4%;"
              src="../../assets/animales/pajaro.png" alt="pajaro"></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <!-- <div class="button-bar">
        <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="40%" style="margin: 4%;"
            src="../../assets/animales/conejo.png" alt="conejo"></ion-button>
        <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="40%" style="margin: 4%;"
            src="../../assets/animales/perro.png" alt="perro"></ion-button>
      </div>

      <div class="button-bar">
        <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="40%" style="margin: 4%;"
            src="../../assets/animales/gato.png" alt="gato"></ion-button>
        <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="40%" style="margin: 4%;"
            src="../../assets/animales/jirafa.png" alt="jirafa"></ion-button>
      </div>
      
      <div class="button-bar">
        <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="40%" style="margin: 4%;"
            src="../../assets/animales/oso.png" alt="oso"></ion-button>
        <ion-button shape="round" fill="outline" size="large" class="centrado drop"><img width="40%" style="margin: 4%;"
            src="../../assets/animales/pajaro.png" alt="pajaro"></ion-button>
      </div> -->

    </div>


    <div *ngIf="colores">COLORES</div>
    <div *ngIf="numeros">NUMEROS</div>

  </div>




  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
    <h3>{{usuarioActivo}}</h3>
  </div> -->
</ion-content>