
<ion-header [translucent]="true" class="header">
  <ion-toolbar color='medium'>
      <ion-buttons slot="secondary">
          <ion-button>
              <ion-icon slot="icon-only" name="person-circle"></ion-icon>
          </ion-button>
      </ion-buttons>
          <ion-buttons slot="start">
              <ion-menu-button menu="first"></ion-menu-button>
          </ion-buttons>
      <ion-title>Relevamiento Visual</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div class="paginaCompleta">

  <img [routerLink]="['../subirFotoLinda']" class="mediaPagina centrado drop" src="../../assets/cosasBuenas.png" alt="cosasBuenas" height="50%">

  <img [routerLink]="['../subirFotoFea']" class="mediaPagina centrado drop" src="../../assets/cosasMalas.png" alt="cosasMalas" height="50%">

</div>


</ion-content> 
