<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat Grupal, ingresa a tu división
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <div class="paginaCompleta">

  <img [routerLink]="['../salaCuartoA']" class="mediaPagina centrado drop" src="../../assets/ppsCuartoA.png" alt="cuartoA" height="50%">

  <img [routerLink]="['../salaCuartoB']" class="mediaPagina centrado drop" src="../../assets/ppsCuartoB.png" alt="cuartoB" height="50%">

</div>


</ion-content>









<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    
    
  </div>


</ion-content> -->