body{
    background: url('../../../assets/fondoSplash.png')  no-repeat center center / cover;
}

ion-toolbar{
    --background: rgb(228, 0, 140);
    color: white;
}

ion-content{
    --background: url('../../../assets/fondoSplash.png')  no-repeat center center / cover;
}


