<div class="container centrado">
  <ion-content [fullscreen]="true">
    <div id="container">
      <div class="miNombre tracking-in-expand">Milagros Pielvitori</div>
      <div><img src="../../assets/icono2color.png" alt="splash" class="jello-horizontal" width="40%"></div>
      <div class="miCurso tracking-in-expand">Division: 4B</div>
    </div>
  </ion-content>
</div>


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->