ion-content{
    --background: url('../../../assets/fondoSplash.png')  no-repeat center center / cover;
  }

  img{
    display:block;
    margin:auto;
    margin-top: 4%;
  }
  
  .card{
    display:block;
    margin:auto;
    margin-top: 15%;
    background-color: rgb(253, 221, 232);

    }