<ion-header [translucent]="true" class="header">
  <ion-toolbar color='medium'>
      <ion-buttons slot="secondary">
          <ion-button>
              <ion-icon slot="icon-only" name="person-circle"></ion-icon>
          </ion-button>
      </ion-buttons>
          <ion-buttons slot="start">
              <ion-menu-button menu="first"></ion-menu-button>
          </ion-buttons>
      <ion-title>Subir Nueva Foto Fea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">

<div *ngIf="listoCarga">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../assets/ok.png" alt="Card image ok">
    <div class="card-body">
      <h5 class="card-title">¡Carga finalizada!</h5>
      <p class="card-text">La carga de imagenes se realizó correctamente.</p>
      <ion-button color="warning" size="small" expand="block" [routerLink]="['/home']">Volver</ion-button>
    </div>
  </div>

</div>


<div *ngIf="!listoCarga">
  <div *ngFor="let item of imagenesParaCargar">
    <img src="{{item}}" alt="foto" width="300">
  </div>
</div>

<!-- {{imageURL}}
    <img src="{{imageURL}}" width="300"> -->



  </div>
  <div *ngIf="!listoCarga">
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="tomarFoto()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" (click)="guardarFotos()">
        <ion-icon name="arrow-up-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
    
  </ion-content>
  



<!-- BOTON PARA MAS
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="tomarFoto()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> -->
