<div class="container centrado">
  <ion-content [fullscreen]="true">
    <div id="container">
      <div class="miNombre flip-in-hor-bottom">Milagros Pielvitori</div>
      <div><img src="../../assets/icono4color.png" alt="splash" class="rotate-in-center" width="40%"></div>
      <div class="miCurso flip-in-hor-bottom">Division: 4B</div>
    </div>
  </ion-content>
</div>


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->