<div class="container centrado">
  <ion-content [fullscreen]="true">
    <div id="container">
      <div class="miNombre text-shadow-pop-br">MILAGROS PIELVITORI</div>
      <div><img src="../../assets/icono3color.png" alt="splash" class="pulsate-fwd" width="40%"></div>
      <div class="miCurso text-shadow-pop-br">DIVISION: 4B</div>
    </div>
  </ion-content>
</div>


<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->