<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Sala de chat PPS - 4°A
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content padding id="content">

<div *ngFor="let item of listadoMensajes">
  
  <div *ngIf="item.user == ucorreo">
    <ion-item-group style="margin-bottom: 1%; margin-left: 15px;">
      <ion-item-divider>
        <ion-label>Enviado el {{item.fecha}}:</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{item.mensaje}}</ion-label>
      </ion-item>
    </ion-item-group>

  </div>
  
  <div *ngIf="item.user != ucorreo">
    <ion-item-group style="margin-bottom: 1%; margin-right: 15px;">
      <ion-item-divider>
        <ion-label>{{item.user}} el {{item.fecha}}:</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{item.mensaje}}</ion-label>
      </ion-item>
    </ion-item-group>

  </div>

</div>
  <!-- <ion-item-group style="margin-bottom: 1%; margin-left: 15px;">
    <ion-item-divider>
      <ion-label>Usuario y fecha</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Mensaje</ion-label>
    </ion-item>
  </ion-item-group> -->



</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-input placeholder="Escribe algo..." minlength="2" maxlength="21" [(ngModel)]="msjNuevo"></ion-input>
    <ion-buttons slot="secondary">
      <ion-button (click)="enviarMensaje()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>