<ion-header [translucent]="true" class="header">
  <ion-toolbar color='medium'>
      <ion-buttons slot="secondary">
          <ion-button>
              <ion-icon slot="icon-only" name="person-circle"></ion-icon>
          </ion-button>
      </ion-buttons>
          <ion-buttons slot="start">
              <ion-menu-button menu="first"></ion-menu-button>
          </ion-buttons>
      <ion-title>Relevamiento Visual</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">

<h3>Acá se abre la camara y se saca la foto</h3>
  
  </ion-content> 
